body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  text-align: center;
}

.center_align{
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 2%;
}

/*Bootstrap*/
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");